#root {

}

h1{
  text-align: center;
  margin: auto 0px;
}

/* MEMBRETE SECTION */
.topTitle{
  top: 0;
  position: sticky;
  z-index: 100;
  display: flex;
  background-color: #0492c2;
  height: 10vh;
  justify-content: space-between;
}

.logo-wrapper{
  padding: 10px;
}

.logo{
  padding: 10px;
  max-width: 200px;
  height: calc(10vh - 40px);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
/* END MEMBRETE SECTION */


/* STEPPER CSS */
.stepper-container{
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
}

.step-item{
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:  9rem;
}

.step-item:not(:first-child):before{
  content: ""; 
  background-color: #e5e7eb;
  position: absolute;
  width:  100%;
  height:  3px;
  right:  50%; 
  top:  1.25rem; 
  transform: translateY(-50%);
}

.step{
  width:  2.5rem; 
  height:  2.5rem; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  z-index:  10; 
  position: relative; 
  background-color: #3c4a5d; 
  border-radius:  9999px; 
  font-weight:  600; 
  color: #ffffff; 
}
.step-description{
  margin: 5px 0px 10px 0px;
  height: 30px;
  font-size: 0.8rem;
  line-height: 1;
  text-align: center;
}

.completed .step{
  background-color: green; 
}

.completed p{
  font-weight: bold; 
}

.completed:not(:first-child):before{
  background-color: green;
}

.current .step{
  background-color: #0492c2; 
}

.current p{
  font-weight: bold; 
}

.current:not(:first-child):before{
  background-color: green;
}
/* END STEPPER CSS */


.content-container{
  margin: 10px 4em;
}

.data-formWrapper{
  border:1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}


/* BUTTONS SECTION */
.button-wrapper{
  display: flex;
  gap: .5rem;
  justify-content: flex-end;
  margin-top: 1rem;
}

.back-button{
  color: #808080;
  padding: 10px;
  font-weight: bold;
  border: 2px solid #808080;
  border-radius: 6px;
  background-color: transparent;
  cursor:pointer;
}

.next-button{
  color: white;
  padding: 10px;
  font-weight: bold;
  border: 2px solid #0492c2;
  border-radius: 6px;
  background-color: #0492c2;
  cursor:pointer;
}
/* END BUTTONS SECTION */


.right-img{
  height:130%;
}


.left-img{
  height:100%;
}


